---
title: August Skare
---

{% set css %}
{% include "styles.css" %}
{% endset %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title }}</title>
    <link rel="manifest" href="/assets/manifest.json"/>
    <style>{{css | cssmin | safe}}</style>
  </head>
  <body>
    <h1>
      <a href="/">August Skare</a>
    </h1>
    <main>{{ content | safe }}</main>
    <footer>
      <nav>
        <ul>
          <li><a href="/cv">CV</a></li>
          <li><a href="/likes">Likes</a></li>
          <li><a href="https://github.com/augustskare">GitHub</a></li>
          <li><a href="mailto:post@augustskare.no">Email</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>