@font-face {
  font-family: "Vesper Libre";
  font-style: normal;
  font-weight: 400;
  src: local("Vesper Libre"), local("VesperLibre-Regular"), url("../../fonts/VesperLibre-subset.woff2") format("woff2"), url("../../fonts/VesperLibre-subset.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Vesper Libre";
  font-style: normal;
  font-weight: 700;
  src: local("Vesper Libre"), local("VesperLibre-Bold"), url("../../fonts/VesperLibre-Bold-subset.woff2") format("woff2"), url("../../fonts/VesperLibre-Bold-subset.woff") format("woff");
  font-display: swap;
}