@font-face {
  font-family: 'Butler';
  src: url('/fonts/butler_regular.woff2') format('woff2'),
       url("/fonts/butler_regular.woff") format("woff"),
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('/fonts/butler_extrabold.woff2') format('woff2'),
       url("/fonts/butler_extrabold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
