body {
  font-family: -apple-system, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  text-size-adjust: 100%;
  background: #FFF;
  color: #000;
  margin: 2.4em auto 0;
  padding: 0 5%;
  max-width: 500px;
}
h1, p, ul {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
p a {
  background-color: #FFF5C6;
  transition: background-color .2s
}
p a:hover, p a:focus {
  background-color: #FFEC91;
}
span {
  color: #A2A2A2;
}
ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  transition: color .2s;
}
ul:hover {
  color: #B9B9B9;
}
li {
  margin-left: 2.2em;
  position: relative;
}
li a:focus {
  color: #B9B9B9;
}
li:first-of-type {
  margin-left: 0;
}
li:hover {
  color: #000;
}
li:hover:before {
  opacity: 1;
  transform: translateX(-1.2em);
}
li:before {
  opacity: 0;
  position: absolute;
  top: .05em;
  left: 0;
  transform: translateX(0);
  transition: opacity .2s, transform .2s;
}
.instagram:before {
  content: "\01F4F7"
}
.twitter:before {
  content: "\01F426"
}
.github:before {
  content: "\01F48E";
}
@media (max-width: 550px) {
  ul {
    display: block;
  }
  ul:hover {
    color: inherit;
  }
  li {
    margin-left: 0;
  }
  li:before {
    position: static;
    opacity: 1;
    padding-right: .3em;
  }
  li:hover:before {
    transform: translateX(0);
  }
}
