---
title: Notes
eleventyExcludeFromCollections: true
---

{% set notes = collections.notes %}
{% if notes | length %}
  <ul>
    {% for note in notes %}
      <li>
        <a href="{{ note.url }}">{{ note.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No notes..</p>
{% endif %}