---
layout: layout.njk
---

<p>
  Frontend lead at
  <a href="https://bakkenbaeck.com">Bakken &amp; Bæck</a>, living in
  Tromsø, Norway.
</p>
<p>
  Want to get in touch? Email me at
  <a href="mailto:post@augustskare.no">post@augustskare.no</a> or call me
  <a href="tel:004794370233">(+ 47) 943 70 233</a>.
</p>
<section>
  <h2 class="vh">On social media</h2>
  <ul>
    <li><a href="http://instagram.com/augustskare">Instagram</a></li>
    <li><a href="http://twitter.com/augustskare">Twitter</a></li>
    <li><a href="http://github.com/augustskare">GitHub</a></li>
  </ul>
</section>
    